.lefty {
    float: left;
    width: 45%;
}

.righty {
    float: right;
    width: 45%;
}

.reveal p {
    margin: 20px 0;
    line-height: 1.3;
    font-size: .5em;
    color: orange;
}

.reveal h3 {
    color: #bdd543;
}

.reveal h4 {
    font-size: .8em;
    color: #00c7f3;
}

.reveal ul {
    list-style: none;
}

.reveal li {
    font-size: .6em;
    margin-bottom: 10px;
}

ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: red; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */ 
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

.reveal section img {
    margin: 15px 0px;
    background: none;
    border: 0px;
    box-shadow: none;
}

.slides section {
    background: none;
}

.slide-two {
    opacity: 0.5;
    background: url(../img/code-1.png) no-repeat top left;
    background-size: 30%;
  }

.reveal[data-background-transition=slide] > .backgrounds .slide-background, .reveal > .backgrounds .slide-background[data-background-transition=slide]
   {
    opacity: .1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.reveal .slide-background-content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(../img/code-1.png) no-repeat top left;
    opacity: .05;
}